.game-table {
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-collapse: collapse;
}

.game-table__row__cell {
    cursor: pointer;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-table__row__cell:nth-child(3n) {
    border-right: 4px solid black;
}

.game-table__row:nth-child(3n) {
    border-bottom: 4px solid black;
}

.game-table__row__cell__input {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 40px;
    padding-left: 17px;
}

.game-table__row__cell__input.invalid-cell {
    background-color: rgba(249, 140, 163, 0.8);
}

.game-table__row__cell_possible-values {
    font-size: 14px;
}

.game-table__row__cell_possible-value {
    padding: 0px 0px 0px 5px !important;
    height: 19px;
}
